* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#formulario {
    border: 1px dotted black;
    padding: 10px;
    width: 70vw;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2 {
    margin-top: 1vh;
    text-align: center;
}

p {
    margin-top: 1vh;
    text-align: center;
}


section {
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    width: 70vw;
}

article {
    padding: 1vh 1vw;
    margin: auto;
    margin-top: 4vh;
    width: 70vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#container-de-posts{
    height: 30vh;
    width: 100vw;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

label {
    width: 10%;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

input, textarea {
    width: 90%;
    margin-bottom: 10px;
}

button {
    width: 100px;
    margin: 0 auto;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid rgb(77, 77, 77);
}

#container-de-posts {
    margin: 10px;
    border-top: 3px double rgb(77, 77, 77);
}

sup {
    color: blue;
    font-size: 10px;
    font-style: oblique;
}

img {
    max-height: 15vh;
    display: block;
    margin: 0 auto;
}