
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');


body {
    background-color: #659DBD;
}

img {
    width: 5%;
    margin-bottom: 5%;
    margin-left: 48%;
    border-radius: 5%;
    box-sizing: 10px;
    border: 2px solid black;
}

ul {
    font-size: 20px;
}
 h4 {
    font-family: Goldman,Arial, Helvetica, sans-serif;
    color: white;
    display: inline-flex;
    width: 20%;
    text-align: center;
    position: relative;
    margin-left: 70%;
    margin-top: 3.5%;
    
} 

.menu{
    font-size: 30px;
    box-sizing: 10px;
    background-color: #FBEEC1;
    text-align: center;
    margin-bottom: 40px;
}


 .turma {
    font-family: Goldman,Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    display: inline-flex;
    width: 20%;
    text-align: center;
    margin-left: 40%;
    margin-top: 3%;
    position: absolute;
    color: red;
} 


a:hover {
    color: darkgreen;
  }

