body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: white;
}

div div {
    display: grid;
    justify-items: center;
    align-items: center;
}


#top-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#middle-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

#vertical-middle-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.green-background {
    background-color: green;
    width: 20vw;
    height: 5vh;
}

.yellow-background {
    background-color: yellow;
    width: 80vw;
    height: 5vh;
}

.pink-background {
    background-color: fuchsia;
    width: 100vw;
    height: 70vh;   
    grid-template: 1fr;
}

.blue-background {
    background-color: blue;
    width: 50vw;
    height: 20vh;
}

#blank {
    background-color: white;
    width: 25vw;
    height: 20vh;
}

.red-background {
    background-color: red;
    width: 25vw;
    height: 10vh;
}

.lightgreen-background {
    background-color: lightgreen;
    width: 25vw;
    height: 10vh;
}

.purple-background {
    background-color: purple;
    width: 100vw;
    height: 5vh;
    grid-template: 1fr;
}





